.navbar {
    text-align: left;
    justify-content: left;
    background: transparent !important;
}

.nav-item {
    padding-right: 10px;
    font-size: 14px;
    font-family: avenir, sans-serif;
    
}

.jumbo {
    background-color: rgb(244 218 64);
    height: 670px;
    width: 100%;
    border-left: 10px solid white;
    border-right: 10px solid white;
    top: 0;
    z-index: -1000;

}

.title {
  
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    border-right: .15em solid rgb(26, 85, 85);
    white-space: nowrap;
    animation: 
    typing 3.0s steps(30, end),blink-caret .5s step-end infinite;
    
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(26, 85, 85); }
  }


.main {
    width: auto;
    display: inline-block;
    position: relative;
    text-align: left;
    margin-top: 200px;
    padding-left: 50px;
}
.about {
    display: inline-block;
    position: relative;
    text-align: right;
    float: right;
    margin-right: 100px;
    margin-top: 200px;

}
h1 {
    font-family: 'Text Me One', sans-serif;

    color: white;
    
}

.lead {
    font-family: avenir;
    color: white;
    
}
.firstClass {
    padding-top: 20px;
}
h3 {
   
    color: white;
    font-family: avenir;
    color: white;
    font-size: 22px;
    padding-top: 30px;
}

ul {
    font-family: avenir;
    color: white;

}
h5 {
    font-family: avenir;
    color:  rgb(26, 85, 85);
}

p {
    font-family: avenir;
    font-size: 14px;
    color: black;
}
.cardOne {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: right;
    padding-top: 160px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
    width: 90%;
   
  
   
   
}

.slice {
    width: 300px;
    float: left;
}

.sliceBody {
    display: inline-block;
    float: left;
    text-align: left;
    padding: 60px;
    margin-left: 100px;
    margin-top: 100px;

    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
  
}


.appearSlice {
    opacity: 1;
    transform: translateY(0px);
}

.cardTwo {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: right;
    padding-bottom: 170px;
    padding-top: 200px;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
 
}

.ockbfBody {
    float: left;
    margin-left: 100px;
    margin-top: 90px;

    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
  
}

.appearOc {
    opacity: 1;
    transform: translateY(0px);
}

.kidsImage {
    width: 500px;
    float: right;
}

.btnOne {
    color:rgb(244 218 64);
    background-color: #ffffff;
    border-color:rgb(244 218 64);
    font-family: avenir;
    padding: 20px;
    border: 3px solid rgb(244 218 64);
    margin-top: 20px;
    
}

.btnOne:hover {
    background-color: rgb(244 218 64);
    border-color:rgb(244 218 64);
    color: white;
}

.btnTwo {
    color:rgb(244 218 64);
    background-color: #ffffff;
    border-color:rgb(244 218 64);
    font-family: avenir;
    padding: 20px;
    border: 3px solid rgb(244 218 64);
    margin-top: 20px;
}

.btnTwo:hover {
    background-color: rgb(244 218 64);
    border-color:rgb(244 218 64);
    color: white;
}

.btnProjects {
    display: block;
    color:rgb(244 218 64);
    background-color: #ffffff;
    border-color:rgb(244 218 64);
    font-family: avenir;
    margin: auto;
    padding: 20px;
    border: 3px solid rgb(244 218 64);
    margin-bottom: 100px;
    margin-top: 100px;


}

.btnProjects:hover {
    background-color: rgb(244 218 64);
    border-color:rgb(244 218 64);
    color: white;
}

.footer {
    background-color: rgb(244 218 64);
    height: 200px;
}


